<div class="form-container">
  <%= form_with url: "/map", method: :post, data: { turbo: false } do |form| %>
    <%= form.label :address_field_one, "Your address" %>
    <%= form.text_field :address_field_one, required: "required", class: "form-input-field" %>
    <%= form.label :address_field_two, "Your friend's address" %>
    <%= form.text_field :address_field_two, required: "required", class: "form-input-field" %>

    <h3>Places categories</h3>
    <div class="category-wrapper">
      <% @categories.each do |category, description| %>
          <%= form.radio_button "categories", category, style: "display: none;" %>
          <div class="category-item">
            <%= form.text_field "categories",
              id: category,
              value: category,
              type: "radio",
              'data-style': "ruby",
              class: "form-check-input radio_buttons required category-selector" %>
            <%= form.label category, sanitize(description + "<p>#{category.capitalize}</p>"), class: "form-check-label collection_radio_buttons" %>
          </div>
      <% end %>
    </div>

    <%= form.submit "Search for some places", class: "form-button" %>
    <span style="font-size: 10px; opacity: 0.5;">* only works for german addresses</span>
  <% end %>
</div>
