<div class="form-container">
  <%= form_with url: "/map", method: :post do |form| %>
    <%= form.label :address_field_one, "Your address" %>
    <%= form.text_field :address_field_one, required: "required", class: "form-input-field" %>
    <%= form.label :address_field_two, "Your friend's address" %>
    <%= form.text_field :address_field_two, required: "required", class: "form-input-field" %>

    <h3>Categories</h3>
    <div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;">
      <% @categories.each do |category, description| %>
        <div>
          <%= form.radio_button "categories", category %>
          <%= form.label category, sanitize(description) %>
        </div>
      <% end %>
    </div>

    <%= form.submit "🙅 Fire it up", class: "form-button" %>
  <% end %>
</div>
