<div class="popup">
  <h3 class="place-title"><%= place.name %></h3>
  <p class="place-address"><%= place.street %> <%= place.number %>.</p>
  <a target="_blank" href="https://maps.google.com/?q=<%= place.lat %>,<%= place.lon %>" class="googlemaps">View on Google Maps</a>
</div>
