<!DOCTYPE html>
<html>
  <head>
    <title>Meety</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <!-- Needs major rework -->
    <!-- <div id="toggle"> -->
    <!--   <i class="indicator"></i>   -->
    <!-- </div> -->

    <%= yield %>

    <%= render "footer" %>

    <script>
      const body = document.querySelector('body')
      const footer = document.querySelector('footer')
      const toggle = document.getElementById('toggle')
      toggle.onclick = () => {
              toggle.classList.toggle('active')
              body.classList.toggle('active')
      }
    </script>
  </body>
</html>
